<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MeaMod.DNS" version="1.0.70" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.2" />
  <package id="OscCore" version="1.0.5" manuallyInstalled="true" />
  <package id="VRChat.OSCQuery" version="0.0.7" manuallyInstalled="true" />
</packages>