<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MeaMod.DNS" version="1.0.71" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.9" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.9" />
  <package id="OscCore" version="1.0.5" manuallyInstalled="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.9" />
  <package id="VRChat.OSCQuery" version="0.0.7" manuallyInstalled="true" />
</packages>